body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: rgb(235, 234, 233);
  font-size: 25px;
}
h1 {
  text-align: center;
  font-size: 70px;
}

img {
  width: 500px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#recipe-list {
  text-align: center;
  list-style-type: none;
  font-size: 40px;
}

.recipe-photo {
  width: 700px;
  height: auto;
}

h2,
h3,
h4 {
  font-size: 40px;
  text-decoration: underline;
}
